<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
<body>

<div class="wrapper" style="margin: 0;">
    <div th:replace="fragments/setup :: setup"></div>
    <div class="container" style="display: flex; align-items: center; justify-content: center">
        <h5 th:text="${punchline}"></h5>
    </div>
    <a th:href="@{'/next'}" style="display: flex; align-items: center; justify-content: center; text-decoration: none">
        <button type="button">Next</button>
    </a>
    <br>
    <br>
    <br>
    <a  th:href="@{'/'}"style="display: flex; align-items: center; justify-content: center; text-decoration: none">
        <button type="button">The End</button>
    </a>
</div>
</body>
</html>